@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.grainy {
  background-color: #f2f2f2;
  background-image: url("https://transparenttextures.com/patterns/batthern.png");

}

.cardboard {
  background-color: #fff;
  background-image: url("/bright-squares.png");
}

.noisy {
  background-color: #fff;
  background-image: url("/noisy.png");
}

.text-glow {
  text-shadow: 0 0 0.5px rgba(255, 0, 150, 0.15), 0 0 0.4px rgba(255, 0, 150, 0.15);
}

.mirror-horizontal {
  transform: scaleX(-1);
}

.futuristic-lines {
  background: repeating-linear-gradient(
    to bottom,
    rgba(244, 114, 182, 0.6), /* Glowing line color (pink-400 with transparency) */
    rgba(244, 114, 182, 0.6) 2px, /* Thickness of glowing line */
    rgba(0, 0, 0, 0.5) 2px, /* Gap between lines */
    rgba(0, 0, 0, 0.5) 8px /* Thickness of non-glowing area */
  );
  animation: glowAnimation 2s linear infinite; /* Add animation */
}

@keyframes glowAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

.icons-container {
  position: absolute;
  top: 50%; /* Center in parent */
  left: 50%; /* Center in parent */
  transform: translate(-50%, -50%); /* Center transform-origin */
}

.stayUp {
  animation: stayUp 13s linear infinite;
}

@keyframes stayUp {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(-18deg);
  }
}